USE [VMS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_AddUsers]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_AddUsers]
 @Name varchar(50),
 @Email varchar(50),
 @Nic varchar(50),
 @Password varchar(50),
 @State int,
 @Active bit
AS
BEGIN
	 
INSERT INTO Users (Name, Email, Nic, Password, State, RegDate, Active)
VALUES        (@Name,@Email,@Nic,@Password,@State,getdate(),@Active)

END
 

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[PriceIn] [real] NOT NULL,
	[PriceOut] [real] NOT NULL,
	[Quntity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Labours]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Nic] [nvarchar](10) NOT NULL,
	[RegDate] [datetime] NOT NULL,
	[VehicleJobTasks_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Labours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Model]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BrandId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Model] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Nic] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[State] [int] NOT NULL,
	[RegDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicelJobTasksLabours]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicelJobTasksLabours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LabourId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
	[IsClosed] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.VehicelJobTasksLabours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleJobs]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleJobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [nvarchar](128) NULL,
	[RegDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[FinalAmount] [real] NOT NULL,
 CONSTRAINT [PK_dbo.VehicleJobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleJobTasks]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleJobTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[VehicelJob] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VehicleJobTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleJobTasksItems]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleJobTasksItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Qunatity] [int] NOT NULL,
	[VehicleJobTasksId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VehicleJobTasksItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 11/6/2016 7:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleNo] [nvarchar](128) NOT NULL,
	[EngineNumber] [nvarchar](50) NOT NULL,
	[ChassiNumber] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
	[ModelId] [int] NOT NULL,
	[VehicleJobs_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

GO
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (1, N'Toyota')
GO
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (2, N'Nissan')
GO
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (3, N'Micro')
GO
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON 

GO
INSERT [dbo].[Model] ([Id], [Name], [BrandId]) VALUES (1, N'Auqa', 1)
GO
INSERT [dbo].[Model] ([Id], [Name], [BrandId]) VALUES (2, N'Starlet', 1)
GO
INSERT [dbo].[Model] ([Id], [Name], [BrandId]) VALUES (3, N'Panda', 3)
GO
SET IDENTITY_INSERT [dbo].[Model] OFF
GO
ALTER TABLE [dbo].[VehicleJobTasks] ADD  DEFAULT ((0)) FOR [VehicelJob]
GO
ALTER TABLE [dbo].[VehicleJobTasksItems] ADD  DEFAULT ((0)) FOR [VehicleJobTasksId]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ((0)) FOR [ModelId]
GO
ALTER TABLE [dbo].[Labours]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Labours_dbo.VehicleJobTasks_VehicleJobTasks_Id] FOREIGN KEY([VehicleJobTasks_Id])
REFERENCES [dbo].[VehicleJobTasks] ([Id])
GO
ALTER TABLE [dbo].[Labours] CHECK CONSTRAINT [FK_dbo.Labours_dbo.VehicleJobTasks_VehicleJobTasks_Id]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Model_dbo.Brand_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_dbo.Model_dbo.Brand_BrandId]
GO
ALTER TABLE [dbo].[VehicelJobTasksLabours]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VehicelJobTasksLabours_dbo.Labours_LabourId] FOREIGN KEY([LabourId])
REFERENCES [dbo].[Labours] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicelJobTasksLabours] CHECK CONSTRAINT [FK_dbo.VehicelJobTasksLabours_dbo.Labours_LabourId]
GO
ALTER TABLE [dbo].[VehicelJobTasksLabours]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VehicelJobTasksLabours_dbo.VehicleJobTasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[VehicleJobTasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicelJobTasksLabours] CHECK CONSTRAINT [FK_dbo.VehicelJobTasksLabours_dbo.VehicleJobTasks_TaskId]
GO
ALTER TABLE [dbo].[VehicleJobs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VehicleJobs_dbo.Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleNo])
GO
ALTER TABLE [dbo].[VehicleJobs] CHECK CONSTRAINT [FK_dbo.VehicleJobs_dbo.Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[VehicleJobTasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VehicleJobTasks_dbo.Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleJobTasks] CHECK CONSTRAINT [FK_dbo.VehicleJobTasks_dbo.Tasks_TaskId]
GO
ALTER TABLE [dbo].[VehicleJobTasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VehicleJobTasks_dbo.VehicleJobs_VehicelJob] FOREIGN KEY([VehicelJob])
REFERENCES [dbo].[VehicleJobs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleJobTasks] CHECK CONSTRAINT [FK_dbo.VehicleJobTasks_dbo.VehicleJobs_VehicelJob]
GO
ALTER TABLE [dbo].[VehicleJobTasksItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VehicleJobTasksItems_dbo.VehicleJobTasks_VehicleJobTasksId] FOREIGN KEY([VehicleJobTasksId])
REFERENCES [dbo].[VehicleJobTasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleJobTasksItems] CHECK CONSTRAINT [FK_dbo.VehicleJobTasksItems_dbo.VehicleJobTasks_VehicleJobTasksId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.Model_ModelId] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.Model_ModelId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.VehicleJobs_VehicleJobs_Id] FOREIGN KEY([VehicleJobs_Id])
REFERENCES [dbo].[VehicleJobs] ([Id])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.VehicleJobs_VehicleJobs_Id]
GO
