 <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="txtForgetPasswordEmail" name="txtForgetPasswordEmail" class="form-control" placeholder="Email address" required autofocus>
       <br/>
     <button class="btn btn-lg btn-primary btn-block" type="button" id="btnForgetPassword" name="btnForgetPassword">Send Request</button> <br/>
     <button class="btn btn-lg btn-primary btn-block" type="button" id="btnResendForgetPasswordTokenEmail" name="btnResendForgetPasswordTokenEmail">Resend Token</button>
     <br/>
     <span>
         /api/Guest/ValidateEmailAddressProcess?email=iamchamith@gmail.com&token=2d409c7e-e1f3-4e4e-b065-a95c16acddd1
     </span>
 </form>