
<ul>
    <li>
        <input type="button" value="Facebook" class="btn btn-primary"/>
    </li>
    <br/>
    <li>
        <input type="button" value="gmail" class="btn btn-primary"/>

    </li>
    <br />
    <li>
        <input type="button" value="linkedin"  class="btn btn-primary" />
    </li>
</ul>