
<h4>Citizen/Admin/Staff</h4>
<ul>
    <li>
        <a href="/api/SystemUser/ProfileInfo" target="_blank">Profile</a>
    </li>
    <li>
        <a href="/api/SystemUser/ChangePassowrd" target="_blank">Change Password</a>
    </li>
    <li>
        <a href="/api/SystemUser/UpdateSettings" target="_blank">Change setting</a>
    </li>
</ul>




<h4> Admin/Staff</h4>
<ul>
    <li>
        <a href="/api/SystemUser/ListUsers" target="_blank">List user</a>
    </li>
</ul>

